kedro==1.1.1
kedro-datasets==9.0.0
kedro-telemetry==0.6.5
kedro-viz==12.2.0
# Parquet IO support used by datasets
pyarrow==17.0.0
# Keep anyio <4 to stay compatible with watchgod (pulled by some dev tools)
anyio==3.7.1
